html {
    width: 380px;
    height: 240px;
}

.title-font {
    font-family: Verdana, serif ;
}

#cron {
    background: #fffffc;
    border: 1px solid #0a53be;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    font-family: Monospaced, Consolas, serif;
}
